* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
body{
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 300px;
    height:500px;
    box-shadow: 4px 4px 30px  rgba(0,0,0,0.3);
    border-radius: 12px;
    background: #22252D;
    overflow: hidden;
}
form input{
    width: 100%;
    height:150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000;
    text-align: right;

}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 20px;
}
button{
    flex:0 0 22% ;
    /* text-align: center; */
    margin: 5px 0;
    border:1px solid #000;
    width: 60px;
    height:52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

}
.btn-green{
    background: rgb(247, 165, 13);
    color:black;
}
.btn-black{
    background: rgba(221, 211, 199, 0.874);
    color: #000;

}
.btn-equal{
   background: rgb(11, 249, 11);
   color: #000;
}
.btn-clear{
    background: rgb(239, 11, 11);
    color: #000;

}